<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="song/layout::head">
</head>
<body>
<h1>Chỉnh sửa thông tin sản phẩm</h1>
<a th:href="@{/song/list}">Danh sách sản phẩm</a>
<form th:action="@{/song/edit/__${song.id}__}" method="post" th:object="${song}">
    <input type="text" placeholder="mã bai hat" th:field="*{id}">
    <input type="text" placeholder="tên bài hát" th:field="*{name}">
    <input type="text" placeholder="ca sỹ" th:field="*{singer}">
    <input type="text" placeholder="thể loại" th:field="*{type}">
    <input type="text" placeholder="file" th:field="*{songfile}">
    <button>Chỉnh sửa</button>
</form>
<footer th:replace="song/layout::footer"></footer>
</body>
</html>